.cover {
  background-image: url(../images/__background-2.jpg);
  /*max-width: 1184px;*/
  max-height: 740px;
  /*width: 100%;*/
  object-fit: cover;
  margin-top: 92px;
  margin-right: 48px;
  margin-bottom: 0;
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  position: relative;
  padding: 0;
}

.cover:hover {
  opacity: 0.8;
}

.cover__title {
  max-width: 656px;
  margin-top: 243px;
  margin-right: 264px;
  margin-bottom: 0;
  margin-left: 264px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: #fffdfd;
}

.cover__subtitle {
  max-width: 280px;
  margin-top: 32px;
  margin-right: 452px;
  margin-bottom: 32px;
  margin-left: 452px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #fff;
}

.cover__button {
  border-radius: 4px;
  opacity: 100%;
  width: 137px;
  height: 48px;
  margin-top: 0;
  margin-right: 525px;
  margin-bottom: 243px;
  margin-left: 525px;
  padding: 13px 20px 13px 20px;
  background: #0278fe;
  border: none;
  text-align: center;
  text-decoration: none;
}

.cover__button-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  margin: 0;
  padding: 0;
  color: #fff;
}

.cover__button:hover {
  opacity: 30%;
  background: #0063d2;
}

@media screen and (max-width: 1000px) {
  .cover {
    background-image: url(../images/__background-2.jpg);
    object-fit: cover;
    margin-top: 92px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .cover__title {
    margin-top: 243px;
    margin-right: 56px;
    margin-bottom: 0;
    margin-left: 56px;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
  }

  .cover__subtitle {
    margin-top: 32px;
    margin-right: 244px;
    margin-bottom: 32px;
    margin-left: 244px;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .cover {
    background-image: url(../images/__background-2.jpg);
    object-fit: cover;
  }

  .cover__title {
    font-size: 72px;
    line-height: 106%;
    text-align: center;
  }

  .cover__subtitle {
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    margin: 32px auto 45px auto;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    background-image: url(../images/__background-2.jpg);
    object-fit: cover;
  }

  .cover__title {
    max-width: 288px;
    width: 100%;
    font-size: 32px;
    line-height: 109%;
    text-align: center;
  }

  .cover__subtitle {
    max-width: 280px;
    width: 100%;
    font-size: 14px;
    line-height: 114%;
    text-align: center;
    margin: 32px auto 45px auto;
  }

  .cover__button {
    border-radius: 4px;
    opacity: 100%;
    max-width: 137px;
    height: 48px;
    margin-top: 0;
    margin-right: 525px;
    margin-bottom: 243px;
    margin-left: 525px;
    padding: 13px 20px 13px 20px;
  }

  .cover__button-text {
    font-size: 18px;
    line-height: 122%;
  }
}
