.footer {
}

.footer__copyrights {
  margin-top: 92px;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
  max-width: 200px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

@media screen and (max-width: 920px) {
  .footer__copyrights {
    margin-top: 88px;
  }
}

@media screen and (max-width: 550px) {
  .footer__copyrights {
    margin-top: 64px;
  }
}
