.footer {
}

.footer__copyrights {
  margin-top: 92px;
  margin-right: 558px;
  margin-bottom: 24px;
  margin-left: 558px;
  max-width: 200px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

@media screen and (max-width: 920px) {
  .footer__copyrights {
    margin-top: 88px;
    margin-right: 300px;
    margin-bottom: 24px;
    margin-left: 300px;
    max-width: 200px;
    width: 100%;
  }
}
