.header {
  display: flex;
  flex-direction: column;
}

.header__logo {
  width: 270px;
  margin: 34px auto 0;
}

@media screen and (max-width: 1236px) {
  .header__logo {
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    /*margin-right: 248px;
    margin-left: 248px;*/
  }
}

@media screen and (max-width: 550px) {
  .header {
  }

  .header__logo {
    max-width: 200px;
    margin-top: 20px;
    /*margin-right: 60px;*/
    margin-bottom: 0;
    /*margin-left: 60px;*/
  }
}

@media screen and (max-width: 320px) {
  .header {
  }

  .header__logo {
  }
}
