.intro {
  max-width: 785px;
  margin-right: 347px;
  margin-left: 148px;
}

.intro__title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  color: #fff;
}

.intro__quote {
  max-width: 720px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142%;
  color: #fff;
}

.intro__author {
  max-width: 720px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142%;
  text-align: right;
  color: #fff;
}

.intro__paragraph {
  max-width: 720px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 118px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #fff;
}

/*@media screen and (max-width: 1236px) {
  .intro__title {
    max-width: 785px;
    width: 100%;
    font-size: 54px;
    line-height: 107%;
    margin: 92px auto 40px auto;
  }

  .intro__quote {
    max-width: 720px;
    width: 100%;
    font-size: 24px;
    line-height: 142%;
    margin: auto;
  }

  .intro__author {
    max-width: 720px;
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    margin: 10px auto 32px auto;
  }

  .intro__paragraph {
    max-width: 720px;
    width: 100%;
    font-size: 16px;
    line-height: 163%;
    margin: auto auto 118px auto;
  }
}*/

@media screen and (max-width: 1000px) {
  .intro__title {
    /*max-width: 785px;
    width: 100%;
    font-size: 54px;
    line-height: 58px;*/
  }

  .intro__quote {
    /*max-width: 720px;
    width: 100%;
    font-size: 24px;
    line-height: 34px;*/
  }

  .intro__author {
    /*max-width: 720px;
    width: 100%;
    font-size: 24px;
    line-height: 34px;*/
  }

  .intro__paragraph {
    /*max-width: 720px;
    width: 100%;
    font-size: 16px;
    line-height: 26px;*/
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin-right: 24px;
    margin-left: 24px;
  }

  .intro__title {
    font-size: 54px;
    line-height: 107%;
    max-width: 720px;
    width: 100%;
  }

  .intro__quote {
    max-width: 720px;
    width: 100%;
    font-size: 24px;
    line-height: 142%;
  }

  .intro__author {
    max-width: 720px;
    width: 100%;
    font-size: 24px;
    line-height: 142%;
  }

  .intro__paragraph {
    max-width: 720px;
    width: 100%;
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    margin-right: 16px;
    margin-left: 16px;
  }

  .intro__title {
    max-width: 288px;
    width: 100%;
    font-size: 32px;
    line-height: 109%;
    margin-top: 64px;
  }

  .intro__quote {
    max-width: 288px;
    width: 100%;
    font-size: 24px;
    line-height: 125%;
  }

  .intro__author {
    max-width: 288px;
    width: 100%;
    font-size: 24px;
    line-height: 142%;
  }

  .intro__paragraph {
    max-width: 288px;
    width: 100%;
    font-size: 16px;
    line-height: 163%;
  }
}
