.intro {
}

.intro__title {
  max-width: 785px;
  width: 100%;
  margin-top: 0;
  margin-right: 347px;
  margin-bottom: 40px;
  margin-left: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  color: #fff;
}

.intro__quote {
  max-width: 720px;
  width: 100%;
  margin-top: 0;
  margin-right: 412px;
  margin-bottom: 0;
  margin-left: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142%;
  color: #fff;
}

.intro__author {
  max-width: 720px;
  width: 100%;
  margin-top: 10px;
  margin-right: 412px;
  margin-bottom: 32px;
  margin-left: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142%;
  text-align: right;
  color: #fff;
}

.intro__paragraph {
  max-width: 720px;
  width: 100%;
  margin-top: 0;
  margin-right: 412px;
  margin-bottom: 118px;
  margin-left: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #fff;
}

@media screen and (max-width: 1236px) {
  .intro__title {
    /*width: 720px;
    height: 174px;
    margin-top: 0;
    margin-right: 24px;
    margin-bottom: 40px;
    margin-left: 24px;*/
    max-width: 785px;
    width: 100%;
    font-size: 54px;
    line-height: 107%;
    margin: 92px auto 40px auto;
  }

  .intro__quote {
    /*width: 720px;
    height: 102px;
    margin-top: 0;
    margin-right: 24px;
    margin-bottom: 0;
    margin-left: 24px;*/
    max-width: 720px;
    width: 100%;
    font-size: 24px;
    line-height: 142%;
    margin: auto;
  }

  .intro__author {
    /*width: 720px;
    height: 34px;
    margin-top: 10px;
    margin-right: 24px;
    margin-bottom: 32px;
    margin-left: 24px;*/
    max-width: 720px;
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    margin: 10px auto 32px auto;
  }

  .intro__paragraph {
    /*width: 720px;
    height: 156px;
    margin-top: 0;
    margin-right: 24px;
    margin-bottom: 90px;
    margin-left: 24px;*/
    max-width: 720px;
    width: 100%;
    font-size: 16px;
    line-height: 163%;
    margin: auto auto 118px auto;
  }
}

@media screen and (max-width: 1000px) {
  .intro__title {
    /*width: 720px;
    height: 174px;
    margin-top: 0;
    margin-right: 24px;
    margin-bottom: 40px;
    margin-left: 24px;*/
    max-width: 785px;
    width: 100%;
    font-size: 54px;
    line-height: 58px;
  }

  .intro__quote {
    /*width: 720px;
    height: 102px;
    margin-top: 0;
    margin-right: 24px;
    margin-bottom: 0;
    margin-left: 24px;*/
    max-width: 720px;
    width: 100%;
    font-size: 24px;
    line-height: 34px;
  }

  .intro__author {
    /*width: 720px;
    height: 34px;
    margin-top: 10px;
    margin-right: 24px;
    margin-bottom: 32px;
    margin-left: 24px;*/
    max-width: 720px;
    width: 100%;
    font-size: 24px;
    line-height: 34px;
  }

  .intro__paragraph {
    /*width: 720px;
    height: 156px;
    margin-top: 0;
    margin-right: 24px;
    margin-bottom: 90px;
    margin-left: 24px;*/
    max-width: 720px;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
  }

  @media screen and (max-width: 767px) {
    .intro {
      margin-right: 24px;
      margin-left: 24px;
    }

    .intro__title {
      /*width: 720px;
      height: 174px;
      margin-top: 0;
      margin-right: 24px;
      margin-bottom: 40px;
      margin-left: 24px;*/
      font-size: 54px;
      line-height: 107%;
      max-width: 720px;
      width: 100%;
    }
  
    .intro__quote {
      /*width: 720px;
      height: 102px;
      margin-top: 0;
      margin-right: 24px;
      margin-bottom: 0;
      margin-left: 24px;*/
      max-width: 720px;
      width: 100%;
      font-size: 24px;
      line-height: 142%;
    }
  
    .intro__author {
      /*width: 720px;
      height: 34px;
      margin-top: 10px;
      margin-right: 24px;
      margin-bottom: 32px;
      margin-left: 24px;*/
      max-width: 720px;
      width: 100%;
      font-size: 24px;
      line-height: 142%;
    }
  
    .intro__paragraph {
      /*width: 720px;
      height: 156px;
      margin-top: 0;
      margin-right: 24px;
      margin-bottom: 90px;
      margin-left: 24px;*/
      max-width: 720px;
      width: 100%;
      font-size: 16px;
      line-height: 163%;
    }

    @media screen and (max-width: 320px) {
      .intro__title {
        /*width: 720px;
        height: 174px;
        margin-top: 0;
        margin-right: 24px;
        margin-bottom: 40px;
        margin-left: 24px;*/
        max-width: 288px;
        width: 100%;
        font-size: 32px;
        line-height: 109%;
      }
    
      .intro__quote {
        /*width: 720px;
        height: 102px;
        margin-top: 0;
        margin-right: 24px;
        margin-bottom: 0;
        margin-left: 24px;*/
        max-width: 288px;
        width: 100%;
        font-size: 24px;
        line-height: 125%;
      }
    
      .intro__author {
        /*width: 720px;
        height: 34px;
        margin-top: 10px;
        margin-right: 24px;
        margin-bottom: 32px;
        margin-left: 24px;*/
        max-width: 288px;
        width: 100%;
        font-size: 24px;
        line-height: 142%;
      }
    
      .intro__paragraph {
        /*width: 720px;
        height: 156px;
        margin-top: 0;
        margin-right: 24px;
        margin-bottom: 90px;
        margin-left: 24px;*/
        max-width: 288px;
        width: 100%;
        font-size: 16px;
        line-height: 163%;
      }
    }