.places {
  margin: 92px 148px;
}

.places__item {
  display: grid;
  grid-template-rows: min-content min-content min-content 1fr;
  grid-template-areas:
    "title artist-role"
    "title artist"
    "image description"
    "button description";
  margin-bottom: 80px;
}

.places__title {
  grid-area: title;
  max-width: 460px;
  margin-top: 0;
  margin-right: 40px;
  margin-bottom: 48px;
  margin-left: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #fff;
  align-self: end;
}

.places__detail {
  margin-bottom: 48px;
  grid-area: artist;
  align-self: end;
}

.places__artist-role {
  grid-area: artist-role;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaa;
}

.places__artist {
  max-width: 456px;
  margin-top: 8px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #fff;
}

.places__image {
  grid-area: image;
  max-width: 460px;
  width: 100%;
  margin-top: 0;
  margin-right: 40px;
  margin-bottom: 0;
}

.places__description {
  grid-area: description;
}

.places__paragraph {
  max-width: 484px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
  margin-top: 0;
  margin-bottom: 25px;
}

.places__paragraph:last-of-type {
  margin: 0;
}

.places__button {
  grid-area: button;
  border-radius: 4px;
  opacity: 100%;
  width: fit-content;
  height: min-content;
  margin-top: 60px;
  margin-right: 0;
  margin-bottom: 0;
  background: #0278fe;
  border: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  color: #fff;
  text-align: center;
  padding: 13px 20px;
}

.places__button:hover {
  background: #0063d2;
}

@media screen and (max-width: 1000px) {
  .places {
    margin-top: 88px;
    margin-right: 24px;
    margin-left: 24px;
  }

  .places__item {
    grid-template-rows: auto auto auto 1fr;
    gap: 48px 40px;
    grid-template-columns: 1fr 1fr;
  }

  .places__title {
  }

  .places__artist-role {
  }

  .places__artist {
  }

  .places__image {
    object-fit: cover;
  }

  .places__description {
  }

  .places__paragraph {
  }
}

@media screen and (max-width: 768px) {
  .places {
  }

  .places__item {
    grid-template-rows: auto auto 1fr;
    gap: 46px 28px;
    grid-template-areas:
      "title artist"
      "image description"
      "button description";
    margin-bottom: 72px;
    width: auto;
  }

  .places__title {
    font-size: 42px;
    line-height: 110%;
    margin: 0;
  }

  .places__detail {
    margin: 0;
  }

  .places__artist-role {
    line-height: 15px;
  }

  .places__artist {
  }

  .places__image {
    margin-right: 28px;
    margin-left: 0;
  }

  .places__description {
    width: auto;
  }

  .places__paragraph {
    font-size: 16px;
  }

  .places__button {
    opacity: 100%;
    margin: initial;
  }
}

@media screen and (max-width: 550px) {
  .places {
    margin: 62px 0;
  }
  .places__item {
    grid-template-rows: auto;
    gap: 30px;
    grid-template-columns: 1fr;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 50px;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "description"
      "button";
  }

  .places__detail {
    margin-right: 16px;
    margin-left: 16px;
  }

  .places__title {
    margin-right: 16px;
    margin-left: 16px;
  }

  .places__artist-role {
  }

  .places__artist {
  }

  .places__image {
  }

  .places__description {
    margin-right: 16px;
    margin-left: 16px;
  }

  .places__paragraph {
  }

  .places__button {
    justify-self: center;
    min-width: 288px;
    margin-right: 16px;
    margin-left: 16px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 320px) {
  .places {
  }
  .places__item {
  }

  .places__detail {
  }

  .places__title {
    font-size: 32px;
    line-height: 109%;
  }

  .places__artist-role {
  }

  .places__artist {
  }

  .places__image {
  }

  .places__description {
    margin-right: 16px;
    margin-left: 16px;
  }

  .places__paragraph {
  }

  .places__button {
  }
}
