.places {
}

.places__item {
  display: grid;
  grid-template-rows: min-content min-content min-content 1fr;
  grid-template-areas:
    "title artist-role"
    "title artist"
    "image description"
    "button description";
  margin-top: 92px;
  margin-right: 148px;
  margin-bottom: 92px;
  margin-left: 148px;
}

.places__title {
  grid-area: title;
  max-width: 460px;
  max-height: 152px;
  margin-top: 0;
  margin-right: 40px;
  margin-bottom: 48px;
  margin-left: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #fff;
}

.places__detail {
}

.places__artist-role {
  grid-area: artist-role;
  margin-top: 107px;
  margin-right: 0;
  margin-left: 0;
}

.places__artist {
  grid-area: artist;
  max-width: 456px;
  height: 22px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #fff;
}

.places__image {
  grid-area: image;
  max-width: 460px;
  width: 100%;
  margin-top: 0;
  margin-right: 40px;
  margin-bottom: 0;
}

.places__description {
  grid-area: description;
}

.places__paragraph {
  /*margin: 0 0 12px 0;*/
  max-width: 484px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
}

.places__paragraph:last-of-type {
  margin: 0;
}

.places__button {
  grid-area: button;
  border-radius: 4px;
  opacity: 100%;
  width: 248px;
  height: 48px;
  margin-top: 60px;
  margin-right: 0;
  margin-bottom: 80px;
  /*padding: 13px 20px 13px 20px;*/
  background: #0278fe;
  border: none;
  text-decoration: none;
}

.places__button-text {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  color: #fff;
  text-align: center;
  padding: 13px 20px 13px 20px;
}

.places__button:hover {
  opacity: 0.3;
  background: #0063d2;
}

@media screen and (max-width: 1000px) {
  .places__item {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    grid-gap: 48px 40px;
    grid-template-columns: 1fr 1fr;
    margin-right: 24px;
    margin-left: 24px;
    grid-template-areas:
      "title artist-role"
      "title artist"
      "image description"
      "button description";
  }

  .places__title {
    grid-area: title;
    font-size: 72px;
    line-height: 106%;
  }

  .places__artist-role {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  .places__artist {
    font-size: 18px;
    line-height: 122%;
  }

  .places__image {
    grid-area: image;
    object-fit: cover;
  }

  .places__description {
    font-size: 16px;
    line-height: 163%;
  }

  .places__paragraph {
  }
}

@media screen and (max-width: 768px) {
  .places__item {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    grid-gap: 46px 28px;
    grid-template-columns: 1fr 1fr;
    margin-right: 24px;
    margin-left: 24px;
    grid-template-areas:
      "title artist-role"
      "title artist"
      "image description"
      "button description";
  }

  .places__title {
    grid-area: title;
    font-size: 42px;
    line-height: 110%;
    align-self: end;
  }

  .places__artist-role {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  .places__artist {
    font-size: 18px;
    line-height: 122%;
  }

  .places__image {
    grid-area: image;
    object-fit: cover;
  }

  .places__description {
    font-size: 16px;
    line-height: 163%;
  }

  .places__paragraph {
  }

  .places__button {
    grid-area: button;
    border-radius: 4px;
    opacity: 100%;
    margin: initial;
  }
}

@media screen and (max-width: 320px) {
  .places__item {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    margin-right: 16px;
    margin-left: 16px;
    grid-template-areas:
      "title"
      "artist-role"
      "artist"
      "image"
      "description"
      "button";
  }

  .places__detail {
  }

  .places__title {
    grid-area: title;
    font-size: 32px;
    line-height: 109%;
    align-self: end;
  }

  .places__artist-role {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-top: 30px;
  }

  .places__artist {
    font-size: 18px;
    line-height: 122%;
  }

  .places__image {
    grid-area: image;
    object-fit: cover;
  }

  .places__description {
    font-size: 16px;
    line-height: 163%;
  }

  .places__paragraph {
  }
}
